body { background-color:#F0F4EF;}

header {
    background-color: #b4cded;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5%;
}
nav {
    background-color: black;
    padding: 14px;
}
div {
    text-align: center;
}

h1 {color:#008000;}
p {margin-left:10px;}
body {text-align:center;}

a{ 
    color:white;
    text-decoration:none;
    padding: 14px;
}

a:hover {
    color: hotpink;
    text-decoration:none ;
  }
  
  p{
    background-color: lightblue;
    padding: 20px;
  }
  